body, html{
    height: 100%;
    width: 100%;
}

body{
    background-color: #676060;
}

.header, .container-body, .content-box, .linha2{
    align-items: center;
    text-align: center;
    justify-content: center;
}

.header, .content-box{
    border: 8px solid #CCC;
}

.header{
    height: 100px;
    background-color: #272822;
    color: white;
}

.title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-top: 10px;
}

.container-body{
    background-color: solid #676060;
    display: flex;
    height: 100%;
    width: 100%;
    
}
  
.content-box {
    width: 700px;
    height: 350px;
    background-color: #272822;
    color: black;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 200px;
}

.linha{
    margin-top: 100px;
}

.linha2{
    margin-top: 50px;
}
  